include:
- core.yml
- billing.yml
- monitor.yml


x-kamailio: &kamailio
  image: ghcr.io/lyatanski/kamailio
  expose:
  - 5060/tcp
  - 5060/udp
  dns: ${DNSv4}
  healthcheck:
    test: wget -qO- 127.0.0.1:9090/check
    retries: 60
    interval: 5s
    start_period: 5s

services:
  pcscf:
    << : *kamailio
    command: -f /etc/cscf/proxy.cfg
    environment:
      REALM: ${REALM}
      DBURL: redis:6379/1
      IPSEC: ${IPSEC}
    configs:
    - source: pcscf.xml
      target: /etc/cscf/diameter.xml
    cap_add:
    - NET_ADMIN
    networks:
      default:
        ipv4_address: ${IPSEC}
    depends_on:
      kmod:
        condition: service_completed_successfully

  icscf:
    << : *kamailio
    command: -f /etc/cscf/interrogating.cfg
    environment:
      REALM: ${REALM}
      DBURL: redis:6379/2
    configs:
    - source: icscf.xml
      target: /etc/cscf/diameter.xml
    depends_on:
      dbprep:
        condition: service_completed_successfully

  scscf:
    << : *kamailio
    command: -f /etc/cscf/serving.cfg
    environment:
      REALM: ${REALM}
      #DBURL: redis:6379/3
      RTPADR: udp:rtpengine:9910
    configs:
    - source: scscf.xml
      target: /etc/cscf/diameter.xml

  dns:
    image: coredns/coredns
    command: -conf /etc/coredns/Corefile
    configs:
    - source: dns
      target: /etc/coredns/Corefile
    networks:
      default:
        ipv4_address: ${DNSv4}

  rtpengine:
    image: ghcr.io/lyatanski/rtpengine
    command: --no-log-timestamps 
    configs:
    - source: rtpengine.conf
      target: /etc/rtpengine/rtpengine.conf
    expose:
    - 9910/udp
    scale: 1
    healthcheck:
      test: wget -qO- 127.0.0.1:9090/ping
      retries: 60
      interval: 5s
      start_period: 5s

  # as UE IPs will not be in the setup IP range, they need special attention
  route:
    image: alpine
    command: sh -c "ip route add ${UENET} via $$(getent ahostsv4 upf | cut -d' ' -f1 | sort -u)"
    network_mode: service:pcscf
    cap_add:
    - NET_ADMIN

  kmod:
    image: alpine
    command:
    - modprobe
    - -a
    - ah4
    - ah6
    - esp4
    - esp6
    - xfrm4_tunnel
    - xfrm6_tunnel
    - xfrm_user
    - ip_tunnel
    - tunnel4
    - tunnel6
    cap_add:
    - SYS_MODULE
    volumes:
    - /lib/modules:/lib/modules

  dbprep:
    image: valkey/valkey:9-alpine
    command: valkey-cli -u redis://redis:6379/2 HSET s_cscf:entry::1 s_cscf_uri sip:scscf.ims.${REALM}
    restart: on-failure

  redis:
    image: valkey/valkey:9-alpine
    expose:
    - 6379/tcp

  test:
    profiles:
    - test
    image: ghcr.io/lyatanski/test
    command: gtp
    environment:
      K:     ${K}
      OPC:   ${OPC}
      PLMN:  ${MCC}${MNC}
      DIAL:  ${DIAL}
      SCALE: ${SCALE}
      REALM: ims.${REALM}
      IPSEC: /usr/lib/ipsec.so
    cap_add:
    - NET_ADMIN
    depends_on:
      icscf:
        condition: service_healthy
      scscf:
        condition: service_healthy

  pcap:
    profiles:
    - debug
    network_mode: host
    command: ptcpdump -i any --pname kamailio -w /pcap/trace.pcap
    volumes:
    - ./pcap:/pcap
    build:
      context: .
      dockerfile_inline: |
        FROM alpine
        RUN wget -qO- https://github.com/mozillazg/ptcpdump/releases/download/v0.36.0/ptcpdump_0.36.0_linux_amd64.tar.gz | tar -C /bin -xzf- ptcpdump


configs:
  pcscf.xml:
    content: |
      <?xml version="1.0" encoding="UTF-8"?>
      <DiameterPeer
          FQDN="pcscf.ims.${REALM}"
          Realm="ims.${REALM}"
          Vendor_Id="10415"
          Product_Name="CDiameterPeer"
          Workers="1"
      >
              <Peer FQDN="pcrf.epc.${REALM}" Realm="epc.${REALM}" port="3868"/>
              <Auth id="16777236" vendor="10415"/> <!-- Rx 3GPP -->
              <SupportedVendor vendor="10415" />
              <DefaultRoute FQDN="pcrf.epc.${REALM}" metric="1"/>
      </DiameterPeer>

  icscf.xml:
    content: |
      <?xml version="1.0" encoding="UTF-8"?>
      <DiameterPeer
          FQDN="icscf.ims.${REALM}"
          Realm="ims.${REALM}"
          Vendor_Id="10415"
          Product_Name="CDiameterPeer"
          Workers="1"
      >
              <Peer FQDN="hss.epc.${REALM}" Realm="epc.${REALM}" port="3868"/>
              <Auth id="16777216" vendor="10415"/> <!-- Cx 3GPP -->
              <SupportedVendor vendor="10415" />
              <DefaultRoute FQDN="hss.epc.${REALM}" metric="1"/>
      </DiameterPeer>

  scscf.xml:
    content: |
      <?xml version="1.0" encoding="UTF-8"?>
      <DiameterPeer
          FQDN="scscf.ims.${REALM}"
          Realm="ims.${REALM}"
          Vendor_Id="10415"
          Product_Name="CDiameterPeer"
          Workers="1"
      >
              <Peer FQDN="hss.epc.${REALM}" Realm="epc.${REALM}" port="3868"/>
              <Peer FQDN="ocs.${REALM}" Realm="${REALM}" port="3868"/>
              <Auth id="16777216" vendor="10415"/> <!-- Cx 3GPP -->
              <Auth id="4"        vendor="10415"/> <!-- Ro 3GPP -->
              <SupportedVendor vendor="10415" />
              <Realm name="${REALM}">
                  <Route FQDN="ocs.${REALM}" metric="1"/>
              </Realm>
              <DefaultRoute FQDN="hss.epc.${REALM}" metric="1"/>
      </DiameterPeer>

  rtpengine.conf:
    content: |
      [rtpengine]
      log-level = 7
      table = -1
      listen-http = 0.0.0.0:9090
      listen-ng = 0.0.0.0:9910
      interface = any
      timeout = 60
      silent-timeout = 3600
      tos = 184
      port-min = 30000
      port-max = 40000
      no-redis-required = true
      #redis-write = redis:6379/4
      #redis-subscribe = redis:6379/5
      #redis-resolve-on-reconnect = true

      [ims-rtpengine-2]
      log-level = 7
      table = -1
      listen-http = 0.0.0.0:9090
      listen-ng = 0.0.0.0:9910
      interface = any
      timeout = 60
      silent-timeout = 3600
      tos = 184
      port-min = 30000
      port-max = 40000
      no-redis-required = true
      redis-write = redis:6379/5
      redis-subscribe = redis:6379/4
      redis-resolve-on-reconnect = true

  dns:
    content: |
      . {
          errors
          log
          health {
             lameduck 5s
          }
          ready
          template IN SRV {
              match (?P<name>.cscf)?\.ims\.mnc\d{2,3}\.mcc\d{3}\.3gppnetwork.org
              answer "{{ .Name }} 1D SRV 0 0 5060 {{ or .Group.name \"icscf\" }}."
              fallthrough
          }
          template IN ANY {
              match (^|[.])(?P<name>[^.]*).*\.mnc\d{2,3}\.mcc\d{3}\.3gppnetwork.org
              answer "{{ .Name }} 1D IN CNAME {{ .Group.name }}."
              fallthrough
          }
          forward . /etc/resolv.conf
          cache 30
          loop
          reload
          loadbalance
      }


networks:
  default:
    enable_ipv6: true
    ipam:
      config:
      - subnet: ${NETv4}
      - subnet: ${NETv6}
