#!KAMAILIO

# Proxy Call Session Control Function (P-CSCF)

children=1
debug=3

#!defenvs DOMAIN

loadmodule "tm"
loadmodule "sl"
loadmodule "textops"
loadmodule "ims_usrloc_pcscf"
loadmodule "ims_ipsec_pcscf"
#loadmodule "pua" # for reginfo
#loadmodule "ims_registrar_pcscf"
loadmodule "debugger"

modparam("debugger", "cfgtrace", 1)
modparam("debugger", "log_level", 3) # L_DBG

request_route {
	append_hf("P-Visited-Network-ID: "+DOMAIN+"\r\n");
	t_relay();
}

