{{- $outer := . -}}
{{- range tuple "proxy" "interrogating" "serving" }}
{{- $cscf := . -}}
{{- with $outer -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-{{ trunc 1 $cscf }}cscf
  labels: {{- include "ims.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels: {{- include "ims.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations: {{- toYaml . | nindent 8 }}
      {{- end }}
      labels: {{- include "ims.labels" . | nindent 8 }}
    spec:
      {{- $dns := (lookup "v1" "Service" .Release.Namespace "dns-coredns") | default .Values.coredns.service -}}
      {{- if $dns }}
      dnsPolicy: None
      dnsConfig:
        nameservers:
        - {{ $dns.spec.clusterIP }}
        searches:
        - {{ .Release.Namespace }}.svc.cluster.local
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets: {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
      {{- if eq "proxy" $cscf }}
      {{- include "ims.ipsec" . | nindent 6 }}
      {{- else if eq "serving" $cscf }}
      {{- include "ims.register" . | nindent 6 }}
      {{- end }}
      containers:
      - name: cscf
        image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args: ["-f", {{ printf  "/etc/cscf/%s.cfg" $cscf | quote }}]
        env:
        - name: REALM
          value: {{ tpl .Values.domain . }}
        {{- if eq "proxy" $cscf }}
        - name: IPSEC
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        {{- end }}
        {{- if eq "interrogating" $cscf }}
        - name: DBURL
          value: {{ template "valkey.name" .Subcharts.rtpengine.Subcharts.valkey }}:6379/{{ .Values.db.interrogating }}
        {{- end }}
        {{- if eq "serving" $cscf }}
        - name: RTPADR
          value: udp:{{ template "rtpengine.name" .Subcharts.rtpengine }}:{{ .Values.rtpengine.service.port }}
        {{- end }}
        ports:
        - name: tcp
          containerPort: {{ .Values.service.port }}
          protocol: TCP
        - name: udp
          containerPort: {{ .Values.service.port }}
          protocol: UDP
        - name: mon
          containerPort: 9090
          protocol: TCP
        #livenessProbe:
        #  httpGet:
        #    path: /check
        #    port: 9090
        #readinessProbe:
        #  httpGet:
        #    path: /check
        #    port: 9090
        {{- with .Values.resources }}
        resources: {{- toYaml . | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: diameter
          mountPath: /etc/cscf/diameter.xml
          subPath: diameter.xml
        {{- if eq "proxy" $cscf }}
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        {{- end }}
      volumes:
      - name: diameter
        configMap:
          name: {{ .Release.Name }}-cscf
          items:
          - key: {{ $cscf }}.xml
            path: diameter.xml
      {{- if eq "proxy" $cscf }}
      {{- include "ims.kmod" . | nindent 6 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
      {{- end }}
---
{{- end }}
{{- end }}
