{{- $dot := . -}}
{{- range tuple "p" "i" "s" }}
{{- $cscf := . -}}
{{- with $dot -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-{{ $cscf }}cscf
  labels: {{- include "ims.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}
    protocol: TCP
    name: tcp
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}
    protocol: UDP
    name: udp
  selector: {{- include "ims.selectorLabels" . | nindent 4 }}
    role: {{ $cscf }}cscf
---
{{- end }}
{{- end }}
