apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-upf
  labels: {{- include "open5gs.labels" . | nindent 4 }}
data:
  prep.sh: |
    ip addr add ${UEGW}/16 dev tunue;
    ip link set tunue up
  upf.yaml: |
    logger:
      level: trace
    global:
    upf:
      {{- with .Values.metrics }}
      metrics:
        server:
        - address: 0.0.0.0
          port: {{ . }}
      {{- end }}
      pfcp:
        server:
        - address: 0.0.0.0
        client:
          smf:
          - address: smf
      gtpu:
        server:
        - address: 0.0.0.0
          advertise: upf
      session:
      - subnet: 10.10.0.0/16
        gateway: 10.10.0.1
        dnn: ims
        dev: tunue
