# Default values for ims.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# PLMN = MNC + MCC;
mcc: "001"
mnc: "01"

# convinience variable for doman/realm
# should not be necessary to be configured explicitly
# the default shoud suffice in most cases
domain: mnc{{ .Values.mnc }}.mcc{{ .Values.mcc }}.3gppnetwork.org

db:
  proxy: 2
  interrogating: 3
  serving: 4

replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: ghcr.io/lyatanski/kamailio
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

test:
  pgwc: core-smf

podAnnotations: {}

service:
  port: 5060

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

dns:
  service:
    spec:
      clusterIP: 10.233.0.69
  zones:
  - zone: 3gppnetwork.org
    plugins:
    - name: template
      parameters: IN SRV
      configBlock: |-
        match "(?P<name>.cscf)?\.ims\.mnc\d{2,3}\.mcc\d{3}\.3gppnetwork.org"
        answer "{{`{{ .Name }}`}} 1D SRV 0 0 5060 {{ .Release.Name }}-{{`{{ or .Group.name \"icscf\" }}`}}.{{ .Release.Namespace }}.svc.cluster.local"
        fallthrough
    - name: template
      parameters: IN ANY
      configBlock: |-
        match "(^|[.])(?P<name>[^.]*).*\.mnc\d{2,3}\.mcc\d{3}\.3gppnetwork.org"
        answer "{{`{{ .Name }}`}} 1D IN CNAME {{ .Release.Name }}-{{`{{ .Group.name }}`}}.{{ .Release.Namespace }}.svc.cluster.local"
        fallthrough
