apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "valkey.name" . }}
  labels: {{- include "valkey.labels" . | nindent 4 }}
data:
  valkey.conf: |
    {{- if false }}
    masterauth {dynamically-substituted-dont-change-manually}
    requirepass {dynamically-substituted-dont-change-manually}
    protected-mode yes
    {{- end }}

    {{- if gt (int .Values.replicaCount) 1 }}
    cluster-enabled yes
    cluster-config-file nodes.conf
    cluster-preferred-endpoint-type ip
    cluster-port {{ .Values.containerPorts.bus }}
    port {{ .Values.containerPorts.valkey }}
    {{- end }}
  init.sh: |
    ID=$(echo "$(hostname -s)" | rev | cut -d- -f1 | rev)
    if [ "${ID}" = "0" ]; then
      {{- $name := include "valkey.name" . }}
      {{- $port := .Values.containerPorts.valkey }}
      for i in $(seq 0 {{ sub .Values.replicaCount 1 }}); do
        NODES="${NODES} {{ $name }}-${i}.{{ $name }}:{{ $port }}"
        until valkey-cli -h {{ $name }}-${i}.{{ $name }} -p {{ $port }} ping; do
          echo waiting instance ${i}
          sleep 3
        done
      done
      echo yes | valkey-cli --cluster create $NODES --cluster-replicas 1
    fi
