apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "valkey.name" . }}
  labels: {{- include "valkey.labels" . | nindent 4 }}
data:
  valkey.conf: |
    {{- if false }}
    masterauth {dynamically-substituted-dont-change-manually}
    requirepass {dynamically-substituted-dont-change-manually}
    protected-mode yes
    {{- end }}

    {{- if gt (int .Values.cluster.primaries) 1 }}
    cluster-enabled yes
    cluster-config-file nodes.conf
    cluster-preferred-endpoint-type ip
    cluster-port {{ .Values.containerPorts.bus }}
    port {{ .Values.containerPorts.valkey }}
    {{- end }}
