apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-pcrf
  labels: {{- include "open5gs.labels" . | nindent 4 }}
data:
  open5gs.yaml: |
    logger:
      level: trace
    global:
    pcrf:
      {{- with .Values.metrics }}
      metrics:
        server:
        - address: 0.0.0.0
          port: {{ . }}
      {{- end }}
      freeDiameter:
        identity: pcrf.epc
        realm: epc
        listen_on: 0.0.0.0
        port: {{ .Values.port }}
        connect:
        - identity: pcscf.ims
        load_extension:
        - module: /opt/lib/freeDiameter/dbg_msg_dumps.fdx
          conf: 0x4444
        - module: /opt/lib/freeDiameter/dict_rfc5777.fdx
        - module: /opt/lib/freeDiameter/dict_mip6i.fdx
        - module: /opt/lib/freeDiameter/dict_nasreq.fdx
        - module: /opt/lib/freeDiameter/dict_nas_mipv6.fdx
        - module: /opt/lib/freeDiameter/dict_dcca.fdx
        - module: /opt/lib/freeDiameter/dict_dcca_3gpp.fdx
      session:
      - name: internet
        type: 3  # 1:IPv4, 2:IPv6, 3:IPv4v6
        ambr:
          downlink:
            value: 1
            unit: 3  # 0:bps, 1:Kbps, 2:Mbps, 3:Gbps, 4:Tbps
          uplink:
            value: 1
            unit: 3
        qos:
          index: 9
          arp:
            priority_level: 8
            pre_emption_vulnerability: 1  # 1: Disabled, 2:Enabled
            pre_emption_capability: 1  # 1: Disabled, 2:Enabled
      - name: ims
        type: 3  # 1:IPv4, 2:IPv6, 3:IPv4v6
        ambr:
          downlink:
            value: 1
            unit: 3  # 0:bps, 1:Kbps, 2:Mbps, 3:Gbps, 4:Tbps
          uplink:
            value: 1
            unit: 3  # 0:bps, 1:Kbps, 2:Mbps, 3:Gbps, 4:Tbps
        qos:
          index: 5
          arp:
            priority_level: 1
            pre_emption_vulnerability: 1  # 1: Disabled, 2:Enabled
            pre_emption_capability: 1  # 1: Disabled, 2:Enabled
        pcc_rule:
        - qos:
            index: 1
            arp:
              priority_level: 1
              pre_emption_vulnerability: 1   # 1: Disabled, 2:Enabled
              pre_emption_capability: 1   # 1: Disabled, 2:Enabled
            mbr:
              downlink:
                value: 82
                unit: 1  # 0:bps, 1:Kbps, 2:Mbps, 3:Gbps, 4:Tbps
              uplink:
                value: 82
                unit: 1  # 0:bps, 1:Kbps, 2:Mbps, 3:Gbps, 4:Tbps
            gbr:
              downlink:
                value: 82
                unit: 1  # 0:bps, 1:Kbps, 2:Mbps, 3:Gbps, 4:Tbps
              uplink:
                value: 82
                unit: 1  # 0:bps, 1:Kbps, 2:Mbps, 3:Gbps, 4:Tbps
          flow:
          - direction: 2
            description: "permit out icmp from any to assigned"
          - direction: 1
            description: "permit out icmp from any to assigned"
          - direction: 2
            description: "permit out udp from 10.200.136.98/32 23455 to assigned 1-65535"
          - direction: 1
            description: "permit out udp from 10.200.136.98/32 1-65535 to assigned 50021"
        - qos:
            index: 2
            arp:
              priority_level: 4
              pre_emption_vulnerability: 2   # 1: Disabled, 2:Enabled
              pre_emption_capability: 2   # 1: Disabled, 2:Enabled
            mbr:
              downlink:
                value: 802
                unit: 1  # 0:bps, 1:Kbps, 2:Mbps, 3:Gbps, 4:Tbps
              uplink:
                value: 802
                unit: 1  # 0:bps, 1:Kbps, 2:Mbps, 3:Gbps, 4:Tbps
            gbr:
              downlink:
                value: 802
                unit: 1  # 0:bps, 1:Kbps, 2:Mbps, 3:Gbps, 4:Tbps
              uplink:
                value: 802
                unit: 1  # 0:bps, 1:Kbps, 2:Mbps, 3:Gbps, 4:Tbps
