#!KAMAILIO
# Proxy Call Session Control Function (P-CSCF)
# Diameter Rx: 3GPP TS 29.214

#!defenvs REALM
#!defenvs IPSEC
#!defexps SERVER "pcscf.ims." + REALM
#!define HEALTH cdp_has_app("16777236")

listen=0.0.0.0:5060 advertise SERVER name "Mw"
user_agent_header="User-Agent: Proxy-CSCF"
server_header="Server: Proxy-CSCF"
children=1
debug=3
tcp_reuse_port=yes

loadmodule "tm"
loadmodule "pv"
loadmodule "sl"
loadmodule "rr"
loadmodule "kex"
loadmodule "cdp"
loadmodule "cdp_avp"
loadmodule "textops"
loadmodule "siputils"
loadmodule "ims_usrloc_pcscf"
loadmodule "ims_ipsec_pcscf"
#loadmodule "pua" # for reginfo
loadmodule "ims_registrar_pcscf"
loadmodule "xlog"
loadmodule "debugger"

import_file "monitor.cfg"

modparam("debugger", "cfgtrace", 1)
modparam("debugger", "log_level", 3) # L_DBG

modparam("rr", "enable_full_lr", 1)

modparam("cdp", "config_file", "/etc/ims/diameter.xml")

modparam("ims_ipsec_pcscf", "ipsec_listen_addr", IPSEC)

request_route {
	loose_route();
	xlog("L_INFO", "====== $rm <$route_uri>\n");
	if($rm == "REGISTER") {
		route(REGISTER);
	} else if($route_uri =~ "sip:orig@.*") {
		route(MORIG);
	} else {
		$var(term) = true;
		route(MTERM);
	}

	if(!$var(term)) {
		append_hf("P-Visited-Network-ID: ims."+REALM+"\r\n");
	}

	if(has_totag() && is_myself($route_uri)) {
		remove_hf_idx("Route", "1");
		loose_route();
		xlog("L_INFO", "======== YES $rm $route_uri\n");
		# from kex
		#if(is_myself($route_uri)) {
		if($route_uri =~ "sip:pcscf.*") {
			xlog("L_INFO", "======== AGAIN MTERM $rm\n");
			route(MTERM);
		}
	}

	# help requests comming from S-CSCF find their way
	record_route();

	t_relay();
}

route[REGISTER] {
	if(!is_present_hf("Contact")) {
		send_reply("403", "No Contact header");
		exit;
	}

	# Strip Transport from RURI:
	$ru = $(ru{re.subst,/;transport=[A-Za-z]*//g});

	pcscf_save_pending("location");

	# RFC 3327
	# necessary for the S-CSCF to be able to route requests
	append_hf("Path: <sip:term@"+SERVER+";lr>\r\n");
	remove_hf("Supported");
	append_hf("Supported: path\r\n");
	remove_hf("Require");
	append_hf("Require: path\r\n");

	t_on_reply("RESP");
}

onreply_route[RESP] {
	if(t_check_status("200")) {
		pcscf_save("location");
	}

	# TS 24.229 5.2.2.2
	# When the P-CSCF receives a 401 (Unauthorized) response to a REGISTER request,
	# the P-CSCF shall remove the "ck" and "ik" WWW-Authenticate header field
	if(t_check_status("401")) {
		ipsec_create("location");
		if(is_present_hf("WWW-Authenticate")) {
			remove_hf("WWW-Authenticate");
			append_hf("WWW-Authenticate: $(hdr(WWW-Authenticate){re.subst,/(ck|ik)+=\"(.+?)\",//gi})\r\n");
		}
	}
}

route[MORIG] {
	if(!pcscf_is_registered("location")) {
		send_reply("403","Forbidden - You must register first with a S-CSCF");
		exit;
	}

	# from siputils
	sip_p_charging_vector("g");

	# RFC 3325
	remove_hf("P-Asserted-Identity");
	remove_hf("P-Preferred-Identity");
	if(is_present_hf("P-Preferred-Identity") && pcscf_assert_identity("location", "$hdr(P-Preferred-Identity)")) {
		append_hf("P-Asserted-Identity: $hdr(P-Preferred-Identity)\r\n");
	} else if(is_present_hf("P-Asserted-Identity") && pcscf_assert_identity("location", "$hdr(P-Asserted-Identity)")) {
		append_hf("P-Asserted-Identity: $hdr(P-Asserted-Identity)\r\n");
	} else {
		append_hf("P-Asserted-Identity: <$pcscf_asserted_identity>\r\n");
	}

	$var(sechdr) = "Require";
	route(RMSEC);
	$var(sechdr) = "Proxy-Require";
	route(RMSEC);
}

route[RMSEC] {
	if(is_present_hf($var(sechdr))) {
		remove_hf($var(sechdr));
		$var(hdr) = $(hdr($var(sechdr)){re.subst,/[, ]*sec-agree//gi});
		if($(var(hdr){s.len}) > 0) {
			append_hf("$var(sechdr): $var(hdr)\r\n");
		}
	}
}

route[MTERM] {
	ipsec_forward("location");
	$du = $ru;
}
