apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rtpengine.name" . }}
  labels: {{- include "rtpengine.labels" . | nindent 4 }}
data:
  rtpengine.conf: |
    [rtpengine]
    log-level = 7
    table = -1
    listen-http = 0.0.0.0:9090
    listen-ng = 0.0.0.0:{{ .Values.service.port }}
    interface = any
    timeout = 60
    silent-timeout = 3600
    tos = 184
    port-min = 30000
    port-max = 40000

