apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rtpengine.name" . }}
  labels: {{- include "rtpengine.labels" . | nindent 4 }}
data:
  rtpengine.conf: |
    [{{ include "rtpengine.name" . }}-0]
    log-level = 7
    table = -1
    listen-http = 0.0.0.0:{{ .Values.monitor.port }}
    listen-ng = 0.0.0.0:{{ .Values.service.port }}
    interface = any
    timeout = 60
    silent-timeout = 3600
    tos = 184
    port-min = 30000
    port-max = 40000
    no-redis-required = true
    redis-write = {{ template "valkey.name" .Subcharts.valkey }}:6379/{{ .Values.redis.criss }}
    redis-subscribe = {{ template "valkey.name" .Subcharts.valkey }}:6379/{{ .Values.redis.cross }}
    redis-resolve-on-reconnect = true

    [{{ include "rtpengine.name" . }}-1]
    log-level = 7
    table = -1
    listen-http = 0.0.0.0:{{ .Values.monitor.port }}
    listen-ng = 0.0.0.0:{{ .Values.service.port }}
    interface = any
    timeout = 60
    silent-timeout = 3600
    tos = 184
    port-min = 30000
    port-max = 40000
    no-redis-required = true
    redis-write = {{ template "valkey.name" .Subcharts.valkey }}:6379/{{ .Values.redis.cross }}
    redis-subscribe = {{ template "valkey.name" .Subcharts.valkey }}:6379/{{ .Values.redis.criss }}
    redis-resolve-on-reconnect = true

