apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "rtpengine.name" . }}
spec:
  selector:
    matchLabels: {{- include "rtpengine.selectorLabels" . | nindent 6 }}
  serviceName: {{ include "rtpengine.name" . }}
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels: {{- include "rtpengine.labels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: {{ .Chart.Name }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: control
          containerPort: {{ .Values.service.port }}
          protocol: UDP
        livenessProbe:
          httpGet:
            path: /ping
            port: 9090
        readinessProbe:
          httpGet:
            path: /ping
            port: 9090
        {{- with .Values.resources }}
        resources:
          {{- toYaml . | nindent 12 }}
        {{- end }}
        volumeMounts:
        - name: conf
          mountPath: /etc/rtpengine
      volumes:
      - name: conf
        configMap:
          name: {{ include "rtpengine.name" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
