apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-hss
  labels:
    {{- include "open5gs.labels" . | nindent 4 }}
data:
  open5gs.yaml: |
    logger:
      level: trace
    global:
    db_uri: mongodb://{{ .Release.Name }}-mongodb/open5gs
    hss:
      {{- with .Values.metrics }}
      metrics:
        server:
        - address: 0.0.0.0
          port: {{ . }}
      {{- end }}
      freeDiameter:
        identity: hss.epc
        realm: epc
        listen_on: 0.0.0.0
        port: {{ .Values.port }}
        connect:
        - identity: icscf.ims
        load_extension:
        - module: /opt/lib/freeDiameter/dbg_msg_dumps.fdx
          conf: 0x4444
        - module: /opt/lib/freeDiameter/dict_rfc5777.fdx
        - module: /opt/lib/freeDiameter/dict_mip6i.fdx
        - module: /opt/lib/freeDiameter/dict_nasreq.fdx
        - module: /opt/lib/freeDiameter/dict_nas_mipv6.fdx
        - module: /opt/lib/freeDiameter/dict_dcca.fdx
        - module: /opt/lib/freeDiameter/dict_dcca_3gpp.fdx
