name: charts
on:
  schedule:
  - cron: '0 1 * * SUN'
  push:
permissions: write-all

jobs:
  charts:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
        - ims
        - core

    steps:
    - uses: actions/checkout@v4

    - name: Package
      run: helm package --dependency-update charts/${{ matrix.package }}

    - name: Log in
      run: helm registry login --username ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }} oci://ghcr.io/

    - name: Publish
      run: helm push ${{ matrix.package }}-*.tgz oci://ghcr.io/${{ github.actor }}

