name: charts
on:
  schedule:
  - cron: '0 1 * * SUN'
  push:
permissions: write-all

jobs:
  charts:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
        - ims
        - hss
        - smf
        - upf
        - pcrf

    steps:
    - uses: actions/checkout@v4

    - name: Extend
      run: helm plugin install https://github.com/origranot/helm-cascade

    - name: Cascade
      run: helm cascade update charts/${{ matrix.package }}

    - name: Package
      run: helm package charts/${{ matrix.package }}

    - name: Log in
      run: helm registry login --username ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }} oci://ghcr.io/

    - name: Publish
      run: helm push ${{ matrix.package }}-*.tgz oci://ghcr.io/${{ github.actor }}

