name: charts
on:
  schedule:
  - cron: '0 1 * * SUN'
  push:
permissions: write-all

jobs:
  charts:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Update dependencies HSS
      run: helm dependency update charts/hss

    - name: Package Open5GS
      run: helm package --dependency-update charts/core

    - name: Update dependencies RTPengine
      run: helm dependency update charts/rtpengine

    - name: Package IMS
      run: helm package --dependency-update charts/ims

    - name: Log in
      run: helm registry login --username ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }} oci://ghcr.io/

    - name: Publish IMS
      run: helm push ims-*.tgz oci://ghcr.io/${{ github.actor }}

    - name: Publish Open5GS
      run: helm push core-*.tgz oci://ghcr.io/${{ github.actor }}

  test:
    needs:
    - charts
    runs-on: ubuntu-latest

    steps:
    - name: Create KinD Cluster
      uses: helm/kind-action@v1

    - name: Install
      run: helm install --set dns.service.spec.clusterIP=$(kubectl cluster-info dump | sed -n 's/.*--service-cluster-ip-range=\([0-9]\+\.[0-9]\+\.[0-9]\+\.\).*/\169/p' | sort -u) ims oci://ghcr.io/${{ github.actor }}/ims

    - name: Check
      run: kubectl get all
