replicaCount: 2

redis:
  criss: 1
  cross: 2

image:
  repository: ghcr.io/lyatanski/rtpengine
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []

podAnnotations: {}

service:
  port: 9910

monitor:
  port: 9090

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

